#wrapper {
    margin: 0;
    padding: 0;
    height: 950px;
    width: 670px;
    /** overflow: hidden; **/
}

#kyushigai {
    position: fixed;
}

#gekioko {
    position: fixed;
    top: 16.666666%;

}